body{
	background-color: #253939;
}

#inner{
	background-color: #ff9c5f;
	width: 50%;
	position: relative;
	left: 25%;
	border-radius: 5px;
	padding-bottom: 10px;
}


h3{
	text-align: left;
	position: relative;
    left: 30%;
}

ul{
    list-style-type: none;
    //padding: 0px;
    text-align: left;
	position: relative;
    left: 30%;
}

h1{
	text-align: center;
}

form{
	position: relative;
    left: 35%;
}

a{
	position: relative;
	left: 35%;
}
